.maco-original {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn-maco {
  text-align: start;
}

.btn-maco-caret {
  float: right;
}

.maco-dropdown-menu {
  right: 0 !important;
  padding: 10px;
  max-height: 340px;
  overflow-y: auto;
}

.maco-dropdown-search {
  margin-bottom: 10px;
}

.maco-dropdown-menu .list-group button:focus {
  outline: none !important;
}

.maco-dropdown-menu .list-group .list-group-item {
  padding: 5px 12px;
}

.maco-dropdown-menu .list-group .list-group-item.active {
  background-color: #be9811;
  border-color: #be9811;
}
